{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
    
{% block body %}
<nav class="navbar bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.jpg" class="img-border" alt="" width="30" height="30">
          </a>
   
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning btnWhite"  type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="sidebar active" >
  <div class="logo_content" >
    <div class="logo">
      <div class="logo_name">WAZIUP</div>
    </div>
    <i  class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav_list">
    <li>
      <a href="" class="list-item-active">
        <i class='bx bx-grid-alt'></i>
        <span class="link_name">Dashbord</span>
      </a>
      <span class="tooltip">Dashbord</span>
    </li>
    <li>
      <a href="">
        <i class='bx bx-history'></i>
        <span class="link_name">Historique</span>
      </a>
      <span class="tooltip">Historique</span>
    </li>
    <li>
      <a href="">
        <i class='bx bxs-devices'></i>
        <span class="link_name">Devices</span>
      </a>
      <span class="tooltip">Devices</span>
    </li>
    <li>
      <a href="">
        <i class='bx bx-cog'></i>
        <span class="link_name">Paramétres</span>
      </a>
      <span class="tooltip">Paramétres</span>
    </li>
  </ul>
  <div class="profile_content">
    <div class="profile">
      <div class="profile_detail">
        <img src="assets/img/logo.jpg" alt="">
        <div class="name">Admin</div>
      </div>
      <i  class='bx bx-log-out' id="log_out"></i>
    </div>
  </div>
</div>
<div class="home_content">
  
</div>
{% endblock %}
